Source: openmediavault-cups
Section: misc
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3

Package: openmediavault-cups
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 0.6), cups,
  printer-driver-foo2zjs, printer-driver-gutenprint, printer-driver-hpcups, printer-driver-splix,
  python2.7, python-cups, python-daemon, python-lxml, python-pip,
  foomatic-filters, foomatic-db-engine, foomatic-db,
  ghostscript-cups, openprinting-ppds, hp-ppd, hpijs-ppds, locales
Description: OpenMediaVault CUPS (network printer server) plugin
