Source: openmediavault-cups
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: utilities

Package: openmediavault-cups
Architecture: all
Depends: cups,
         foomatic-filters,
         foomatic-db-engine,
         foomatic-db,
         ghostscript-cups,
         hp-ppd,
         hpijs-ppds,
         locales,
         openmediavault (>= 3.0),
         openprinting-ppds,
         printer-driver-foo2zjs,
         printer-driver-gutenprint,
         printer-driver-hpcups,
         printer-driver-splix,
         python,
         python-cups,
         python-daemon,
         python-lxml,
         ${misc:Depends}
Description: OpenMediaVault CUPS (network printer server) plugin.
 Add CUPS functionality to OpenMediaVault.
